{% extends 'base.html.twig' %}

{% block header_title %}
	<div class="text-center">
		<h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
	</div>
{% endblock %}

{% block body %}
	<div class="text-center">
		<h2>Tâches</h2>
	</div>
	<div class="text-center">
		<div class="mt-3">
			<a href="{{ path('task_create') }}" class="btn btn-success">Créer une nouvelle tâche</a>
		</div>
		<div class="mt-3">
			<a href="{{ path('task_list') }}" class="btn btn-info">Consulter la liste des tâches à faire</a>
		</div>
		<div class="mt-3">
			<a href="{{ path('task_list_ended') }}" class="btn btn-secondary">Consulter la liste des tâches terminées</a>
		</div>
	</div>
{% endblock %}
